<div class="full-div">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4 text-light text-uppercase font-weight-bold">Hardware Menadžment Sistem</h1>
            <p class="lead text-light">Evidentiranje hardverskih komponenti, proizvođača i skladišta</p>
            <button type="button" class="btn btn-light btn-lg" [routerLink]="['/home']">SISTEM</button>
            <!-- <button type="button" class="btn btn-outline-light btn-lg ml-4">CENTRALA</button> -->
        </div>
    </div>
</div>