<app-nav-menu *ngIf="router.url == '/manufacturers'"></app-nav-menu>
<div class="d-flex flex-column">
    <div class="col-12 pt-5 pb-5">
        <button type="button" class="btn btn-dark text-light btn-lg" (click)="addNewManufacturer(content)">Dodaj</button>
        <h3 class="text-center text-secondary">PROIZVOĐAČI</h3>
        <div *ngFor="let manufacturer of manufacturers">
            <div class="row p-4">
                <div class="card w-100 card-hover-special">
                    <div class="card-header bg-dark">
                        <h4 class="text-light text-uppercase">{{manufacturer.name}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row pl-3">
                            <p class="text-secondary font-weight-bold min-width-100">Lokacija:</p><p class="ml-3">{{manufacturer.location}}</p>
                        </div>
                        <div class="row pl-3">
                            <p class="text-secondary font-weight-bold min-width-100">Website:</p><a href="{{manufacturer.website}}" class="ml-3">{{manufacturer.website}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Dodaj proizvođača</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body pt-5 pb-5">
        <form>
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Website">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Lokacija">
              </div>
            </div>
          </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal" focus="true"
            >ODUSTANI</button>
        <button type="button" class="btn btn-primary" >OBRIŠI</button>
    </div>
</ng-template>
<app-footer *ngIf="router.url == '/manufacturers'"></app-footer>
